body{
  background: var(--light_green);
  font-family: 'Montserrat', sans-serif;
}

/* navigation bar */
.navbar{
  height: 5rem;
  width: 100vw;
  color: var(--dark_blue);
  display: flex;
  align-items: center;
}

.nav_container{
  width: 80%;
  margin: auto;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: var(--dark_blue);
  font-size: 2.8rem;
}

.nav_items{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  font-weight: 600;
}

/* toggle */
.toggle{
  content: "";
  height: 2.7rem;
  width: 2.7rem;
  background: var(--dark_blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  display: none;
}

.toggle span{
  content: "";
  width: 1.7rem;
  height: 5px;
  background: var(--cream);
  border-radius: 2.5px;
  transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
}

.toggle.active span:nth-child(1){
  width: 1rem;
}
.toggle.active span:nth-child(2){
  width: 1.5rem;
}
.toggle.active span:nth-child(3){
  width: 1.2rem;
}

/* responsive */

@media screen and (max-width: 720px) {
  .nav_items{
    display: none;
  }

  .nav_container{
    width: 100%;
    padding: 0 5px;
  }

  .toggle{
    display: flex;
  }
}