body{
  background: #272727;
  font-family: 'Pacifico', cursive;
  color: var(--cream);
}

h1{
  font-size: 1.8rem;
}

h1 > span{
  color: var(--dark_blue);
}

.cream{
  color: var(--cream);
  text-shadow: 0 0 10px #272727;
}

.white{
  color: #f5f5f5;
  text-shadow: 0 0 10px #272727;
}

/* navigation bar */
.navbar{
  height: 5rem;
  width: 100vw;
  color: #272727;
  display: flex;
  align-items: center;
}

.nav_container{
  width: 80%;
  margin: auto;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* font-family: 'Pacifico', cursive; */
  color: #dd9608;
  font-size: 2.8rem;
  font-weight: 600;
  text-shadow: 0 0 10px #000000;
}

.nav_items{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  font-weight: 600;
}

.nav_items a{
  font-size: 1.2rem;
  color: var(--cream);
  text-shadow: none;
}

.nav_items a:hover{
  color: #272727;
  text-shadow: 0 0 #f5f5f5;
}

/* toggle */
.toggle{
  content: "";
  height: 2.7rem;
  width: 2.7rem;
  /* background: #272727; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  box-shadow: 0 0 5px #dd9608;

  display: none;
}

.toggle span{
  content: "";
  width: 1.7rem;
  height: 5px;
  background: #dd9608;
  text-shadow: 0 0 10px #000;
  border-radius: 2.5px;
  transition: width 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.toggle.active span:nth-child(1){
  width: 1rem;
}
.toggle.active span:nth-child(2){
  width: 1.5rem;
}
.toggle.active span:nth-child(3){
  width: 1.2rem;
}
/* home */

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: left;
  justify-content: center;
  height: 40rem;

  border-bottom: 2px solid #272727;
  overflow: hidden;
}

.content{
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visual{
  display: flex;
  align-items: center;
  justify-content: center;
}

.stick{
  position: absolute;
  content: "";
  background: #272727;
  margin-top: 50px;
  height: 200px;
  width:10px;
}

.box1{
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  background: #f5f5f5;
  box-shadow: 0 0 10px #272727;
  animation: rotation 6s infinite linear;
  margin-bottom: 50px;
}

.box2{
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  background: #f5f5f5;
  box-shadow: 0 0 10px #272727;
  animation: re_rotation 3s infinite linear;
}

.circle{
  content: "";
  height: 20px;
  width: 20px;
  background: #272727;
  box-shadow: 0 0 10px #272727;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* animations */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes re_rotation {
  from {
    transform: rotate(359deg);
}
  to {
    transform: rotate(0deg);
}
}

/* responsive */

@media screen and (max-width: 720px) {
  .nav_items{
    display: none;
  }

  .nav_container{
    width: 100%;
    padding: 0 5px;
  }

  .toggle{
    display: flex;
  }
  .home{
    grid-template-columns: 1fr;
  }
}