@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik+Vinyl&display=swap');


body{
  font-family: 'Gloria Hallelujah', cursive;
  background: #F0EBE3;
}

html,body{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

h1,h2,h3,h4{
  font-family: 'Rubik Vinyl', cursive;
  color: brown;
}

p{
  color: aliceblue;
}

a{
  text-decoration: none;
  color: unset;
  line-height: 1.5;
  letter-spacing: 2px;
  font-weight: 600;
}
a:hover, a:active{
  color:brown;
}

.logo{
  font-family: 'Rubik Vinyl', cursive;
  font-size: 2rem;
}

#navbar{
  height: 4rem;
  display: inline-flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.nav_cont{
  display: inline-flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.navitems{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  font-size: .9rem;
  text-align: center;
}